<div class="twelve wide column">
  {{#flexberry-map map=model}}

  {{/flexberry-map}}
</div>
<div class="two wide column">
    <div class="ui list">
      {{#each model.layers as |layer|}}
        <div class="item">
          {{input type="checkbox" checked=layer.visibility}}{{layer.name}}
        </div>
      {{/each}}
    </div>
</div>
