<div class="fourteen wide column">
    <div class="full height">
      {{flexberry-map class="map" map=model}}
    </div>
</div>
<div class="one wide column">
    <div class="ui list">
      {{#each model.layers as |layer|}}
        <div class="item">
          {{input type="checkbox" checked=layer.visibility}}{{layer.name}}
        </div>
      {{/each}}
    </div>
</div>
