<div class="twelve wide column">
    <div class="equal height row">
      {{flexberry-map class="map" map=model}}
    </div>
</div>
<div class="four wide column">
    <div class="ui list">
      {{#each model.layers as |layer|}}
        <div class="item">
          {{input type="checkbox" checked=layer.visibility}}{{layer.name}}
        </div>
      {{/each}}
    </div>
</div>
