<div class="one wide column">
  <div class="ui list">
    {{#each model as |map|}}
      {{#link-to "maps.map" map class="item"}}
        {{map.name}}
      {{/link-to}}
    {{/each}}
  </div>
</div>
{{outlet}}
